<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zbw.interphone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="整机设置">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ChannelListActivity"
            android:label="信道">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ChannelPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChannelListActivity" />
        </activity>
        <activity
            android:name=".DTMFSettingActivity"
            android:label="@string/dtmf_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CodingSettingActivity"
            android:label="@string/coding_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DTMFSettingActivity" />
        </activity>
        <activity
            android:name=".DecodingSettingActivity"
            android:label="@string/decoding_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DTMFSettingActivity" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/scan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ScanSettingActivity"
            android:label="@string/scan_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanActivity" />
        </activity>
        <activity android:name=".ScanListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

</manifest>